<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myMerchantLabel">Create or edit a Merchant</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!merchant.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="merchant.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="merchant.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_type">Type</label>
            <select class="form-control" name="type" [(ngModel)]="merchant.type" id="field_type" >
                <option value="MUSIC">MUSIC</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_range">Range</label>
            <select class="form-control" name="range" [(ngModel)]="merchant.range" id="field_range" >
                <option value="LOW">LOW</option>
                <option value="MID">MID</option>
                <option value="HIGH">HIGH</option>
                <option value="LUXURY">LUXURY</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_logo">Logo</label>
            <select class="form-control" id="field_logo" name="logo" [(ngModel)]="merchant.logoId">
                <option [ngValue]="null"></option>
                <option [ngValue]="mediaOption.id" *ngFor="let mediaOption of logos; trackBy: trackMediaById">{{mediaOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
