
<div *ngIf="comment">
    <h2><span>Comment</span> {{comment.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Message</span></dt>
        <dd>
            <span>{{comment.message}}</span>
        </dd>
        <dt><span>Merchant</span></dt>
        <dd>
            <span *ngFor="let merchant of comment.merchants; let last = last">
                <a [routerLink]="['/merchant-my-suffix', merchant?.id ]">{{merchant.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'comment-my-suffix/'+ comment.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
