
<div *ngIf="marketObject">
    <h2><span>Market Object</span> {{marketObject.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Price</span></dt>
        <dd>
            <span>{{marketObject.price}}</span>
        </dd>
        <dt><span>Market Type</span></dt>
        <dd>
            <span>{{marketObject.marketType}}</span>
        </dd>
        <dt><span>Discount</span></dt>
        <dd>
            <span>{{marketObject.discount}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'market-object-my-suffix/'+ marketObject.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
